button{
    padding: 20px;
    margin: 10px;
    cursor: pointer;

}
/*.btn1{*/

/*}*/
/*.btn2{*/
/*   */
/*}*/
/*.btn3{*/
/*    --color: #e50d0d;*/
/*}*/
/*.btn4{*/
/*    --color: #b009b0;*/
/*}*/
/*.btn5{*/
/*    --color: #f8ec94;*/
/*}*/
/*.btn6{*/
/*    --color: #0afd01;*/
/*}*/
/*.btn7{*/
/*    --color: #0020fe;*/
/*}*/
/*.btn8{*/
/*    --color: #7f7f80;*/
/*}*/